# keep config files out
/config/config.ini
/public/styles/palette.css

# third party libraries... we manage these with yarn/composer
/vendor
/node_modules
/public/node_modules

# site specific extensions should not be tracked
/public/lib/extensions

# ignore log files
/logs/

# test results
.phpunit.result.cache

# ignore editor settings
.phpactor.json
.vscode
.zed