# keep config files out
/config/config.ini
/public/styles/palette.css

# third party libraries... we manage these with yarn
/public/vendor/

# third party libraries used only for testing... we manage these with composer
/vendor/

# site specific extensions should not be tracked
/public/lib/extensions

# ignore log files
/logs/

/public/js/.bin/
/public/js/file-saver/
/public/js/hellojs/
/public/js/moostaka/
/public/js/mustache/
/public/js/.yarn-integrity
