# keep config files out
/config/config.ini
/public/config/config.ini
/public/styles/palette.css

# third party libraries... we manage these with yarn
/public/js

# site specific extensions should not be tracked
/public/lib/extensions

/vendor/
