<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.1/phpunit.xsd"
    defaultTestSuite="all"
>
    <testsuites>
        <testsuite name="all">
            <directory>test/unit</directory>
        </testsuite>
        <testsuite name="ci">
            <directory>test/unit</directory>
            <exclude>test/unit/Model</exclude>
            <exclude>test/unit/Transform</exclude>
        </testsuite>
    </testsuites>
    <logging/>
</phpunit>
